.digital-cart {
  @include cart($ecom-theme);

  .cart-content {
    @include cart-content-styling($ecom-theme);
  }
}
.mobile-menu {
  .digital-cart {
    max-height: 215px;
  }
}

.digital {
  .top-content {
    @include top-content-grid;

    .item {
      .item-title {
        @include item-title($digital-theme);
      }

      &:nth-child(1) {
        @include first-grid-item;
      }

      &:nth-child(2) {
        @include second-grid-item;

        .video-container {
          @include video-container-base($digital-theme);
          .video {
            width: 100%;
          }
        }
      }

      &:nth-child(3) {
        @include third-grid-item;
        .content {
          @include flex-start-center;
          height: fit-content;
          gap: 35px;
          @include laptop {
            gap: 15px;
          }
          @include tablet {
            gap: 35px;
          }
          @include mobile {
            gap: 15px;
          }

          @media (max-width: 380px) {
            flex-direction: column;
          }

          .content-item {
            border: 1px solid $box-border;
            border-radius: $border-sm;
            padding: 14px 12px;
            width: 100%;

            .box {
              gap: 10px;
              @include flex-column;
              max-height: 119px;
              overflow-y: auto;
              padding-right: 10px;

              .item {
                gap: 2px;
                padding: 0px;

                h1 {
                  font-size: 8px;
                  font-weight: $font-weight-regular;
                  color: #9c99b4;
                  text-transform: uppercase;
                  line-height: 100%;
                }

                .description {
                  @include flex-between;
                  width: 100%;
                  font-size: 11px;
                  font-weight: $font-weight-regular;

                  h2 {
                    color: $white;
                  }

                  h3 {
                    @include gradient-text($digital-theme);
                  }
                }
              }
            }
          }

          .progress-box {
            width: fit-content;

            .progress-container {
              position: relative;
              width: fit-content;

              .content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;

                h1 {
                  font-weight: $font-weight-regular;
                  @include gradient-text($digital-theme);
                  font-size: 28px;
                  margin-top: 20px;
                }

                p {
                  font-size: $font-xs;
                  font-weight: $font-weight-light;
                  line-height: 115%;
                }
              }
            }
          }
        }
      }
    }
  }

  .middle-content {
    @include middle-content-section;

    .content-box {
      @include content-box-styling;

      h3 {
        @include gradient-text($digital-theme);
      }
    }

    .video-box {
      @include video-box-styling;
    }
  }

  .footer-content {
    @include footer-content-grid;

    .footer-item {
      @include footer-item-base;

      .title {
        @include item-title($digital-theme);

        h1 {
          @include gradient-text($digital-theme);
        }
      }
      &:nth-child(1) {
        .title {
          margin-bottom: 5px;
        }

        .checklists {
          @include flex-column;
          gap: 18px;
          @include desktop {
            gap: 11px;
          }

          .checklist-item {
            @include flex-start-center;
            gap: 14px;
            font-size: $font-md;
            font-weight: $font-weight-light;
            color: $white;
            cursor: pointer;

            .checked {
              width: 18px;
              height: 18px;
              border: 1px solid $box-border;
              border-radius: 2px;
              @include flex-center;
            }

            img {
              width: 9px;
              height: 7px;
              display: none;
            }

            &.checked {
              img {
                display: block;
              }
            }
          }
        }
      }

      &:nth-child(2) {
        .tools {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          @media (max-width: 320px) {
            grid-template-columns: repeat(1, 1fr);
          }
          gap: 35px 27px;
          @include desktop {
            gap: 28px 17px;
          }
          @include mobile {
            gap: 17px;
          }

          .tool-item {
            @include flex-start-center;
            justify-content: space-between;
            border: 1px solid $box-border;
            border-radius: $border-sm;
            padding: 18px 13px;
            gap: 6px;

            h2 {
              font-size: 15px;
              @include desktop {
                font-size: 10px;
              }
              font-weight: $font-weight-regular;
              color: $white;
            }

            .download {
              background: $digital-theme;
              @include flex-column;
              gap: 1px;
              min-width: 23px;
              min-height: 23px;
              justify-content: center;
              align-items: center;
              border-radius: 4px;
              cursor: pointer;
            }
          }
        }
      }

      &:nth-child(3) {
        .articles {
          @include flex-start-center;
          gap: 17px;
          width: 100%;

          @media (max-width: 320px) {
            flex-direction: column;
          }

          .article {
            width: 100%;
            position: relative;

            img {
              width: 100%;
              max-height: 189px;
              @media (max-width: 320px) {
                max-height: 100%;
              }
              @include desktop {
                min-height: 155px;
              }
            }

            .text {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              padding: 9px;
              @media (max-width: 320px) {
                padding: 12px;
              }

              p {
                font-size: 13px;
                font-weight: $font-weight-regular;
                color: $white;
                line-height: 120%;
                @include desktop {
                  font-size: 11px;
                }
                @media (max-width: 320px) {
                  font-size: 13px;
                }
              }

              .lire {
                width: 31px;
                height: 14px;
                @include flex-center;
                background: $digital-theme;
                font-weight: $font-weight-regular;
                font-size: 8px;
                color: #191824;
                border-radius: 4px;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}
