.header {
  width: 100%;
  height: 60px;
  padding: 18px 31px 0 25px;
  font-size: $font-md;
  font-weight: $font-weight-light;
  @include tablet {
    display: none;
  }
}
.search-box {
  background-color: $min-content-background-color;
  padding: 5px 15px;
  border-radius: 62px;
  border: 1px solid #353347;
  input {
    background-color: transparent;
    color: $font-color;
    padding: 2px;
    font-size: $font-md;
    &::placeholder {
      color: $font-color;
    }
  }
}
.mobile-header {
  background-color: $min-content-background-color;
  padding: 15px 22px;
  display: none;
  @include tablet {
    display: flex;
  }
  .avatar {
    width: 40px;
    height: 40px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 311px;
  max-width: 311px;
  height: 100vh;
  background-color: $section-background-color;
  padding: 20px;
  z-index: 999;
  .close-icon {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 20px;
    img {
      cursor: pointer;
    }
  }

  gap: 24px;
  display: none;
  &.open {
    display: flex;
    flex-direction: column;
  }

  ul {
    font-size: $font-lg;
    margin-top: 10px;
  }

  .copy-right {
    text-align: start;
    padding-left: 30px;
  }
}
