.inscription-formation {
  padding: 10px;
  .main-content {
    max-width: fit-content;
    height: fit-content;
    margin: 50px auto;
    padding: 50px 100px;
    @include mobile {
      padding: 50px 50px;
    }
    border-radius: 10px;
    overflow: hidden;
    h2 {
      font-size: 20px;
      font-weight: 400;
      color: #c4bfef;
      margin-bottom: 20px;
      text-align: center;
    }
    .content-container {
      min-width: fit-content;
      height: fit-content;
      .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        margin-top: 25px;

        @include mobile {
          grid-template-columns: repeat(1, 1fr);
        }
        .price-cart {
          .price {
            font-size: 36px;
            font-weight: 700;
            padding: 0;
            margin: 0;
          }
          p {
            font-size: 12px;
            color: #ffffff;
            font-weight: 300;
            padding: 0;
            margin: 0;
            text-align: center;
          }
          &:nth-child(1) {
            border: 1px solid #353347;
            padding: 31px 41px;
            border-radius: 5px;
            background: linear-gradient(
              119.86deg,
              #070610 46.57%,
              #315c12 100%
            );
            .price {
              @include gradient-text(
                linear-gradient(90deg, #25893f 0%, #94eb58 100%)
              );
            }
          }
          &:nth-child(2) {
            border: 1px solid #353347;
            padding: 31px 41px;
            border-radius: 5px;
            background: linear-gradient(
              119.86deg,
              #070610 46.57%,
              #123f5c 100%
            );

            .price {
              @include gradient-text(
                linear-gradient(90deg, #007de2 0%, #3fffcb 100%)
              );
            }
          }
          &:nth-child(3) {
            border: 1px solid #353347;
            padding: 31px 41px;
            border-radius: 5px;
            background: linear-gradient(
              119.86deg,
              #070610 46.57%,
              #814227 100%
            );

            .price {
              @include gradient-text(
                linear-gradient(270deg, #f60c3b 0%, #ff8e39 100%)
              );
            }
          }
        }
      }
    }
  }
}
