.finance-bg {
  background-color: $finance-theme;
}
.finance-text {
  background: $finance-theme;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.font-xl {
  font-size: $font-xl;
}
.font-lg {
  font-size: $font-lg;
}
.font-md {
  font-size: $font-md;
}
.font-sm {
  font-size: $font-sm;
}
.font-ssm {
  font-size: $font-ssm;
}
.font-xs {
  font-size: $font-xs;
}
.font-xxs {
  font-size: $font-xxs;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
