// colors
$font-color: #c4bfef;
$background-color: #070610;
$min-content-background-color: #11101c;
$white: #ffffff;
$section-background-color: #191824;
$video-background-color: #2e2c3c;
$finance-theme: linear-gradient(90deg, #007de2 0%, #3fffcb 100%);
$notification-bg: #ff8e39;

// fonts
$font-family: "Poppins", sans-serif;

// font sizes
$font-xl: 24px;
$font-lg: 18px;
$font-md: 14px;
$font-sm: 13px;
$font-ssm: 12px;
$font-xs: 10px;
$font-xxs: 9px;

//  border radius
$border-xl: 25px;
$border-lg: 20px;
$border-md: 10px;

// font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Breakpoints
$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
